:root {
	/* font */
	font-size: 18px;
	/* --text-outline: 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000; */
	--text-outline: 0;

	/* LIGHT THEME */

	/* colors */
	/* --color-text: #4b382a; */
	--color-main: #606eaa;
	--color-text: #323a45;
	--color-accent-a: #707070;
	--color-accent-b: #98a9d1;
	--color-accent-c: #f4f4f6;
	--color-accent-d: #323a45;
	--color-accent-e: #c97e36;

	/* shadows */
	--box-shadow: 0 4px 10px #323a45;

	/* header overlay */
	--color-accent-e-hover: 201, 126, 54;
	--overlay-color-value: 75, 56, 42;
	--overlay-opacity-value: 0.35;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
a {
	text-decoration: none;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

/* MAIN CSS */

@font-face {
	font-family: "Kanit";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Kanit/Kanit-Regular.ttf") format("truetype");
}

/* Define Kanit Bold */
@font-face {
	font-family: "Kanit";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Kanit/Kanit-Bold.ttf") format("truetype");
}

header a {
	z-index: 1;
}
header a:hover {
	color: var(--color-accent-c);
	background-color: var(--color-main);
	border-radius: 0.35rem;
}
header button:hover {
	background-color: var(--color-main);
}

.titleText {
	color: var(--color-main);
	font-size: 2.5em;
	font-family: "Kanit";
	font-weight: 700;
	text-shadow: var(--text-outline);
	z-index: 1000;
}

.sectionTitle {
	color: var(--color-accent-d);
	font-family: "Kanit";
	font-weight: 400;
}

/* colors */
.copyText {
	color: var(--color-accent-a);
}

.copyText.update {
	font-size: 0.65em;
}

a.copyText:hover {
	color: var(--color-accent-e);
}

.color-accent-c {
	color: var(--color-accent-c);
}

.color-accent-e {
	color: var(--color-accent-e);
}

#services ul li {
	opacity: 0;
}

#services ul li h5,
#blog ul li h5 {
	color: var(--color-text);
}

#pricing ul > li {
	max-width: 350px;
}

#pricing ul li h5,
#pricing ul li div {
	color: var(--color-accent-c);
}

/*** background colors ***/
.bg-main {
	background-color: var(--color-main);
}

.bg-accent-a {
	background-color: var(--color-accent-a);
}
.bg-accent-b {
	background-color: var(--color-accent-b);
}
.bg-accent-c {
	background-color: var(--color-accent-c);
}
.bg-accent-d {
	background-color: var(--color-accent-d);
}
.bg-accent-e {
	background-color: var(--color-accent-e);
}

.boxShadow {
	box-shadow: var(--box-shadow);
}

#landing {
	min-height: 110svh;
}

.landingBackground img {
	position: absolute;
	height: 110%;
	width: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.landingBackground {
	z-index: -1;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 110svh;
	background-color: rgba(
		var(--overlay-color-value),
		var(--overlay-opacity-value)
	);
}

/***** BLOG *****/
#landing.blog {
	min-height: 35svh;
}

.landingBackground.blog img {
	position: absolute;
	height: 35%;
	width: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.overlay.blog {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 35svh;
	background-color: rgba(
		var(--overlay-color-value),
		var(--overlay-opacity-value)
	);
}

.nav-link {
	color: var(--color-accent-c);
}

.nav-link:hover {
	color: var(--color-accent-d);
}

.navbar-toggler {
	border: none;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navParentShrink {
	padding-top: 0em;
}

.navShrink {
	margin-top: 0em;
	background-color: rgba(0, 0, 0, 0.5);
}
.navbar-brand img {
	height: 3.5em;
	filter: var(--drop-shadow);
}
.navbar-brand-shrink {
	animation: height 0.75s ease-in forwards;
}
.navbar-brand-grow {
	animation: height 0.75s ease-in reverse;
}

.icon-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	background-color: var(--color-main);
	color: var(--color-accent-c);
	border-radius: 50%;
	width: 1.8em;
	height: 1.8em;
	line-height: 1.8em;
}

.footer {
	color: var(--color-accent-d);
}

#scrollUpButton {
	color: var(--color-accent-c);
	background-color: var(--color-accent-b);
	filter: var(--drop-shadow);
	position: fixed;
	right: 5%;
	bottom: 3%;
}

/*** dark/light theme switch ***/
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-accent-e);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: var(--color-accent-c);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--color-accent-d);
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/*** media queries ***/
@media (min-width: 1023px) {
	:root {
		font-size: 22px;
	}
	#pricing > ul > li:nth-child(2) {
		transform: scale(120%);
		z-index: 9;
	}
	#pricing > button {
		margin-top: 1rem;
	}
}

/*** animations ***/

@keyframes height {
	from {
		height: 3.5em;
	}
	to {
		height: 2.5em;
	}
}

@keyframes heightGrow {
	from {
		height: 2.5em;
	}
	to {
		height: 3.5em;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

.fade-in-element {
	opacity: 0;
	animation-fill-mode: forwards;
	animation-duration: 1.25s;
	animation-timing-function: ease-out;
}

@keyframes slideInFromLeft {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.slide-in {
	opacity: 0;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}
