:root {
	font-size: 18px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

/* MAIN CSS */

@font-face {
	font-family: "Kanit";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Kanit/Kanit-Regular.ttf") format("truetype");
}

/* Define Kanit Bold */
@font-face {
	font-family: "Kanit";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Kanit/Kanit-Bold.ttf") format("truetype");
}

main {
	/* height: 100vh; */
	/* min-height: 100svh; */
}

#homeLogo {
	filter: drop-shadow(5px 5px 5px #000);
	height: 3.5rem;
}

.titleText {
	color: rgb(255, 229, 176);
	font-family: "Kanit";
	font-weight: 700;
	text-shadow: 0px 10px 5px black;
}

.sectionTitle {
	/* color: black; */
	color: rgb(41, 41, 41);
	font-family: "Kanit";
	font-weight: 400;
	/* text-shadow: 0px 10px 5px black; */
}

.copyText {
	color: rgb(112, 112, 112);
}

#quoteContainer {
	background-color: rgb(255, 229, 176);
}

#landing {
	background-image: url("../images/coffee_pc_a_lg.png");
	/* background-image: url("../images/desktop_scene_green.png"); */
	/* background-image: url("../images/desktop_scene.png"); */
	background-size: cover;
	background-position: center;
	min-height: 110svh;
}

#limited {
	font-size: 12px;
}

/* bootstrap and font awesome changes */
.navbar-toggler {
	border: none;
}

.navbar-toggler:focus {
	box-shadow: none;
}

/* remove once content is added */
#constructionNotice {
	/* filter: drop-shadow(none); */
}

@media (min-width: 768px) {
	:root {
		font-size: 24px;
	}
}
