:root {
	/* DARK THEME */
	--color-main-dark: #c97e36;
	--color-text-dark: #f4f4f6;
	--color-accent-a-dark: #707070;
	--color-accent-b-dark: #98a9d1;
	--color-accent-c-dark: #4b382a;
	--color-accent-d-dark: #323a45;
	--color-accent-g-dark: #c97e36;

	--overlay-color-value-dark: 50, 58, 69;
	--overlay-opacity-value-dark: 0.35;

	/* shadows */
	--box-shadow-dark: 0 4px 10px var(--color-text-dark);

	--text-outline-dark: 2px 2px #f4f4f6, -2px 2px #f4f4f6, 2px -2px #f4f4f6,
		-2px -2px #f4f4f6;
}

body.darkMode {
	background-color: var(--color-accent-d-dark);
}

.overlay.darkMode {
	background-color: rgba(
		var(--overlay-color-value-dark),
		var(--overlay-opacity-value-dark)
	);
}

.titleText.darkMode {
	color: var(--color-main-dark);
	text-shadow: var(--text-outline-dark);
}

.sectionTitle.darkMode {
	color: var(--color-text-dark);
}

.copyText.darkMode {
	color: var(--color-text-dark);
}

.copyText.darkMode li i {
	color: var(--color-accent-d-dark);
}

.card.darkMode {
	background-color: var(--color-accent-b-dark);
}
.list-group-item.darkMode {
	background-color: var(--color-accent-b-dark);
	color: var(--color-accent-c);
}
.list-group.darkMode {
	background-color: var(--color-accent-b-dark);
}

.boxShadow.darkMode {
	box-shadow: var(--box-shadow-dark);
}

#scrollUpButton.darkMode {
	color: var(--color-accent-d-dark);
}
